.gallery1-gallery3 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.gallery1-text {
  color: rgb(0, 0, 0);
  width: 454px;
  font-size: 57px;
  text-align: center;
  line-height: 1.25;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.gallery1-text1 {
  color: #adacb5;
}
.gallery1-text2 {
  color: #b0d7ff;
}
.gallery1-max-width {
  gap: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.gallery1-content {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.gallery1-container {
  width: 1791px;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery1-container:hover {
  width: 1920px;
  box-shadow: 10px 10px 15px 1px #d4d4d4;
}
.gallery1-image1 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gallery1-link {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.gallery1-link:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.gallery1-container1 {
  width: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery1-container1:hover {
  width: 1920px;
  box-shadow: 10px 10px 15px 1px #d4d4d4;
}
.gallery1-image2 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gallery1-link1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.gallery1-link1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.gallery1-container2 {
  width: 100%;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery1-container2:hover {
  width: 1848px;
  box-shadow: 10px 10px 13px 1px #d4d4d4;
}
.gallery1-image3 {
  margin-bottom: var(--dl-space-space-tripleunit);
}
.gallery1-link2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.gallery1-link2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
@media(max-width: 991px) {
  .gallery1-content {
    align-items: center;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .gallery1-container {
    width: 100%;
    height: 100%;
  }
  .gallery1-image1 {
    width: 100%;
    height: auto;
  }
  .gallery1-container1 {
    height: 100%;
  }
  .gallery1-image2 {
    height: 100%;
  }
}

.faq11-faq8 {
  width: 80%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #D8D5DB;
}
.faq11-text {
  color: rgb(0, 0, 0);
  width: 439px;
  font-size: 44px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.faq11-text1 {
  color: #adacb5;
}
.faq11-text2 {
  color: #b0d7ff;
}
.faq11-max-width {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq11-section-title {
  gap: 32px;
  flex: 1;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq11-list {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq11-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq1-question {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon {
  width: 24px;
  height: 24px;
}
.faq11-icon02 {
  width: 24px;
  height: 24px;
}
.faq11-container03 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text3 {
  color: var(--dl-color-gray-black);
  font-size: 23px;
}
.faq11-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon04 {
  width: 24px;
  height: 24px;
}
.faq11-icon06 {
  width: 24px;
  height: 24px;
}
.faq11-container06 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text4 {
  font-size: 23px;
}
.faq11-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question1 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon08 {
  width: 24px;
  height: 24px;
}
.faq11-icon10 {
  width: 24px;
  height: 24px;
}
.faq11-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text5 {
  font-size: 23px;
}
.faq11-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question2 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon12 {
  width: 24px;
  height: 24px;
}
.faq11-icon14 {
  width: 24px;
  height: 24px;
}
.faq11-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text6 {
  font-size: 23px;
}
.faq11-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq1-question1 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon16 {
  width: 24px;
  height: 24px;
}
.faq11-icon18 {
  width: 24px;
  height: 24px;
}
.faq11-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text7 {
  font-size: 23px;
}

@media(max-width: 991px) {
  .faq11-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq11-max-width {
    gap: 24px;
  }
  .faq11-root-class-name {
    height: auto;
  }
}

.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-navbar {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: fixed;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
  justify-content: space-between;
  background-color: #2D3142;
}
.home-link {
  display: contents;
}
.home-text {
  color: #adacb5;
  text-decoration: none;
}
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
}
.home-icon {
  width: 36px;
  height: 36px;
}
.home-links-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-link01 {
  color: #EAE8FF;
  cursor: pointer;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link02 {
  color: #EAE8FF;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link03 {
  color: #EAE8FF;
  margin-right: var(--dl-space-space-tripleunit);
  text-decoration: none;
}
.home-link04 {
  color: #EAE8FF;
  text-decoration: none;
}
.home-right-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-cta-btn {
  color: var(--dl-color-gray-white);
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-fiveunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100VH;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: #fff;
}
.home-container01 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link07 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link08 {
  text-decoration: none;
}
.home-hero {
  width: 100%;
  height: 1045px;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tenunits);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tenunits);
  justify-content: center;
  background-color: #D8D5DB;
}
.home-container02 {
  flex: 0 0 auto;
  width: 538px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-hero-text {
  width: 487px;
  height: 747px;
  display: flex;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: center;
  margin-left: var(--dl-space-space-doubleunit);
  padding-top: var(--dl-space-space-doubleunit);
  margin-right: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-fourunits);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-fourunits);
  animation-name: rollIn;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-doubleunit);
  animation-delay: 0s;
  background-color: #2D3142;
  animation-duration: 500ms;
  animation-direction: normal;
  border-top-left-radius: 102px;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  border-bottom-right-radius: 102px;
}
.home-heading {
  color: rgb(173, 172, 181);
  font-size: 42px;
  text-align: center;
  margin-bottom: var(--dl-space-space-fiveunits);
}
.home-text02 {
  color: #b0d7ff;
}
.home-text03 {
  color: rgb(216, 213, 219);
  font-size: 18px;
  text-align: center;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 1.55;
  margin-bottom: var(--dl-space-space-fiveunits);
  text-transform: none;
  text-decoration: none;
}
.home-cta-btn1 {
  color: #2D3142;
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-doubleunit);
  text-decoration: none;
  background-color: #B0D7FF;
}
.home-cta-btn1:hover {
  box-shadow: 5px 5px 10px 0px #56666b;
}
.home-image1 {
  width: 531px;
  height: 386px;
  object-fit: cover;
  transition: 0.3s;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  border-top-left-radius: 222px;
  border-top-right-radius: 85px;
  border-bottom-left-radius: 357px;
  border-bottom-right-radius: 985px;
}
.home-image1:hover {
  width: 651px;
  height: 482px;
}
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: 0px;
  align-items: center;
  padding-top: var(--dl-space-space-tenunits);
  padding-left: var(--dl-space-space-tripleunit);
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: #EAE8FF;
}
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text04 {
  color: rgb(0, 0, 0);
  font-size: 44px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.home-text05 {
  color: #adacb5;
}
.home-text06 {
  color: #b0d7ff;
}
.home-cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home-features-card {
  width: 30%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card:hover {
  box-shadow: 8px 10px 18px 2px #d4d4d4;
}
.home-image-container {
  width: 195px;
  height: 196px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image2 {
  width: 186px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading1 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text07 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-features-card1 {
  width: 30%;
  height: 480px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card1:hover {
  box-shadow: 8px 10px 18px 0px #d4d4d4;
}
.home-image-container1 {
  width: 186px;
  height: 194px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image3 {
  width: 186px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading2 {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text08 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-features-card2 {
  width: 30%;
  height: 481px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card2:hover {
  box-shadow: 8px 10px 18px 2px #d4d4d4;
}
.home-image-container2 {
  width: 186px;
  height: 194px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image4 {
  width: 186px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading3 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text09 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-features-card3 {
  width: 30%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card3:hover {
  box-shadow: 8px 10px 18px 0px #d4d4d4;
}
.home-image-container3 {
  width: 185px;
  height: 194px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image5 {
  width: 185px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading4 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text10 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-features-card4 {
  width: 30%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card4:hover {
  box-shadow: 8px 10px 18px 2px #d4d4d4;
}
.home-image-container4 {
  width: 185px;
  height: 194px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image6 {
  width: 185px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading5 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text11 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-features-card5 {
  width: 30%;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-features-card5:hover {
  box-shadow: 8px 10px 18px 2px #d4d4d4;
}
.home-image-container5 {
  width: 185px;
  height: 194px;
  margin: auto;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  margin-right: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-900);
}
.home-image7 {
  width: 185px;
  height: 194px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius24);
}
.home-text-container5 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-heading6 {
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-tripleunit);
}
.home-text12 {
  color: var(--dl-color-gray-700);
  text-align: left;
}
.home-container03 {
  width: 100%;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: center;
  background-color: #D8D5DB;
}
.home-heading-container1 {
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-text13 {
  color: rgb(0, 0, 0);
  width: 406px;
  font-size: 49px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.home-text14 {
  color: #adacb5;
}
.home-text15 {
  color: #b0d7ff;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.home-pricing-card {
  width: 100%;
  display: flex;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 24px;
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 5px;
  margin-right: 32px;
  padding-left: 24px;
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: 24px;
  flex-direction: column;
  padding-bottom: 24px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card:hover {
  transform: scale(1.02);
}
.home-text16 {
  color: rgb(216, 213, 219);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 32px;
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 89px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 89px;
}
.home-container05 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text17 {
  font-size: 2.35rem;
  margin-top: 32px;
  font-weight: 700;
}
.home-text18 {
  font-size: 4rem;
  font-weight: 700;
}
.home-container06 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text19 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-pricing-card1 {
  width: 100%;
  display: flex;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 20px;
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 5px;
  margin-right: 32px;
  padding-left: 20px;
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card1:hover {
  transform: scale(1.02);
}
.home-text23 {
  color: rgb(216, 213, 219);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 32px;
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 89px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 89px;
}
.home-container07 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text24 {
  font-size: 2.35rem;
  margin-top: 32px;
  font-weight: 700;
}
.home-text25 {
  font-size: 4rem;
  font-weight: 700;
}
.home-text26 {
  font-size: 3.7rem;
}
.home-text27 {
  font-size: 1.7rem;
}
.home-container08 {
  display: flex;
  align-items: flex-start;
  margin-bottom: 48px;
  flex-direction: column;
}
.home-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text31 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink1 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink1:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-pricing-card2 {
  width: 100%;
  display: flex;
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: 20px;
  border-color: var(--dl-color-gray-black);
  border-style: double;
  border-width: 5px;
  margin-right: 32px;
  padding-left: 20px;
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: 20px;
  flex-direction: column;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.home-pricing-card2:hover {
  transform: scale(1.02);
}
.home-text32 {
  color: rgb(216, 213, 219);
  font-size: 1.5rem;
  font-weight: 600;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: 32px;
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-fourunits);
  text-transform: uppercase;
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 89px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 52px;
  border-bottom-right-radius: 89px;
}
.home-container09 {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
  flex-direction: row;
}
.home-text33 {
  font-size: 2.35rem;
  margin-top: 32px;
  font-weight: 700;
}
.home-text34 {
  font-size: 4rem;
  font-weight: 700;
}
.home-container10 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: column;
}
.home-text35 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text36 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text37 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-text38 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-navlink2 {
  color: var(--dl-color-gray-white);
  margin-top: auto;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator1 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-section-separator2 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-get-in-touch {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: flex-start;
}
.home-text39 {
  color: rgb(0, 0, 0);
  width: 402px;
  font-size: 49px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.home-text40 {
  color: #adacb5;
}
.home-text41 {
  color: #b0d7ff;
}
.home-text42 {
  color: #b0d7ff;
}
.home-content-container {
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-space-space-fiveunits);
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-form-container {
  width: 40%;
  display: flex;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  margin-right: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-tenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  background-color: var(--dl-color-gray-900);
}
.home-heading7 {
  margin-bottom: var(--dl-space-space-fourunits);
}
.home-name {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-email {
  width: 100%;
  border: none;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-message {
  width: 100%;
  border: none;
  height: 140px;
  padding-top: var(--dl-space-space-doubleunit);
  padding-left: var(--dl-space-space-tripleunit);
  border-radius: var(--dl-radius-radius-radius8);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-tripleunit);
  padding-bottom: var(--dl-space-space-doubleunit);
}
.home-cta-btn2 {
  color: var(--dl-color-gray-white);
  text-align: center;
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-tenunits);
  border-radius: var(--dl-radius-radius-radius24);
  padding-right: var(--dl-space-space-tenunits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-cta-btn2:hover {
  box-shadow: 5px 5px 10px 0px #d4d4d4;
}
.home-locations-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-fiveunits);
  flex-direction: column;
}
.home-location-1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-heading8 {
  font-size: 24px;
  font-style: normal;
  font-family: "Roboto";
  font-weight: 700;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-adress {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home-icon04 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-email1 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home-icon06 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-phone {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
}
.home-icon08 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-link09 {
  text-decoration: none;
}
.home-section-separator3 {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.home-footer-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.home-social-links {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-icon10 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon12 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-icon14 {
  width: 24px;
  height: 24px;
}
.home-copyright-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-icon16 {
  width: 24px;
  height: 24px;
  margin-right: var(--dl-space-space-doubleunit);
}
.home-pricing {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1503149779833-1de50ebe5f8a?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE2fHxzd2lzcyUyMGNoZWVzZSUyMHBsYW50fGVufDB8fHx8MTYyNTg0MTU0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
@media(max-width: 991px) {
  .home-hero {
    height: 1463px;
    padding-top: 236px;
    flex-direction: column-reverse;
  }
  .home-container02 {
    height: 891px;
  }
  .home-hero-text {
    width: 80%;
    height: 835px;
  }
  .home-pricing-card {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card1 {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-pricing-card2 {
    width: 100%;
    padding: 32px;
    max-width: 100%;
    align-items: center;
  }
  .home-form-container {
    width: 60%;
  }
  .home-locations-container {
    flex-wrap: wrap;
  }
  .home-location-1 {
    margin-bottom: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    padding: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon {
    fill: var(--dl-color-gray-white);
  }
  .home-links-container {
    display: none;
  }
  .home-cta-btn {
    display: none;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home-hero {
    height: 1577px;
    padding-top: 150px;
  }
  .home-container02 {
    height: 726px;
  }
  .home-hero-text {
    height: 1057px;
  }
  .home-image1 {
    height: 383px;
    margin-top: var(--dl-space-space-halfunit);
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text04 {
    width: 573px;
    height: 151px;
  }
  .home-cards-container {
    align-items: center;
    flex-direction: column;
  }
  .home-features-card {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card1 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card2 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card3 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card4 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-features-card5 {
    width: 70%;
    margin-bottom: var(--dl-space-space-tripleunit);
  }
  .home-container03 {
    flex-flow: column;
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-heading-container1 {
    width: 100%;
  }
  .home-container04 {
    flex-direction: column;
  }
  .home-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 32px;
  }
  .home-content-container {
    width: 100%;
    flex-direction: column;
  }
  .home-form-container {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-fourunits);
  }
  .home-locations-container {
    flex-direction: row;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .home-text {
    color: rgb(173, 172, 181);
    font-size: 32px;
    text-decoration: none;
  }
  .home-cta-btn {
    display: none;
    font-size: 16px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-hero {
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-container02 {
    height: 837px;
  }
  .home-hero-text {
    width: 413px;
    height: 922px;
  }
  .home-image1 {
    width: 410px;
    height: 321px;
  }
  .home-features {
    padding-top: var(--dl-space-space-fiveunits);
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home-text04 {
    width: 424px;
    height: 166px;
  }
  .home-features-card {
    width: 100%;
  }
  .home-features-card1 {
    width: 100%;
  }
  .home-features-card2 {
    width: 100%;
  }
  .home-features-card3 {
    width: 100%;
  }
  .home-features-card4 {
    width: 100%;
  }
  .home-features-card5 {
    width: 100%;
  }
  .home-container03 {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-content-container {
    padding-left: 0px;
  }
  .home-form-container {
    padding: var(--dl-space-space-tripleunit);
    margin-right: 0px;
  }
  .home-heading7 {
    text-align: center;
  }
  .home-location-1 {
    margin-right: 0px;
    margin-bottom: 0px;
  }
}
