<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Raleway;
        font-size: 18px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.55;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

        null
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <style>
      html {
      scroll-behavior: smooth;
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq11.css" rel="stylesheet" />
      <div class="faq11-faq8 thq-section-padding">
        <h2 class="faq11-text">
          <span class="faq11-text1"><span>Our</span></span>
          <span class="faq11-text2"><span>Comprehensive Solutions</span></span>
        </h2>
        <div class="faq11-max-width thq-section-max-width">
          <div class="thq-section-max-width thq-flex-column faq11-container">
            <div class="faq11-section-title"></div>
            <div class="faq11-list">
              <div class="faq11-faq1">
                <div class="faq11-trigger">
                  <p class="faq11-faq1-question thq-body-large">
                    <span>What is a domain name?</span>
                  </p>
                  <div class="faq11-icons-container">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon02">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container03">
                  <span class="faq11-text3 thq-body-small">
                    Simply put a domain name is the name of a website. It’s what
                    comes after “www.” In a web address. If someone asks how to
                    find you online, what you tell them is usually your domain
                    name. Examples of domain names are: stellersites.info or
                    stellarbsi.com
                  </span>
                </div>
              </div>
              <div class="faq11-faq2">
                <div class="faq11-trigger1">
                  <p class="faq11-faq2-question thq-body-large">
                    <span>Can I choose my own domain name?</span>
                  </p>
                  <div class="faq11-icons-container1">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon04">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon06">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container06">
                  <span class="faq11-text4 thq-body-small">
                    Of course! Depending on availability, you can choose any
                    domain name you’d like. Domain names are limited to
                    availability, similar to instagram usernames or twitter
                    usernames.
                  </span>
                </div>
              </div>
              <div class="faq11-faq3">
                <div class="faq11-trigger2">
                  <p class="faq11-faq2-question1 thq-body-large">
                    <span>What is web hosting?</span>
                  </p>
                  <div class="faq11-icons-container2">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon08">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon10">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container09">
                  <span class="faq11-text5 thq-body-small">
                    Web hosting servers are the space where your website can
                    live and be stored while being accessible on the internet.
                    If you want your website to be live online – in other words,
                    if you want anyone other than yourself to see your website-
                    then web hosting is a necessary part of the equation.
                    Without it, your website will be un accessible to the
                    public.
                  </span>
                </div>
              </div>
              <div class="faq11-faq4">
                <div class="faq11-trigger3">
                  <p class="faq11-faq2-question2 thq-body-large">
                    <span>
                      Are there any ongoing fees once my site is built?
                    </span>
                  </p>
                  <div class="faq11-icons-container3">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon12">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon14">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container12">
                  <span class="faq11-text6 thq-body-small">
                    Yes. There is a hosting and service fee for all packages
                    starting at $29 per month.
                  </span>
                </div>
              </div>
              <div class="faq11-faq5">
                <div class="faq11-trigger4">
                  <p class="faq11-faq1-question1 thq-body-large">
                    <span>Once my site is built can I make updates?</span>
                  </p>
                  <div class="faq11-icons-container4">
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon16">
                        <path
                          d="M213.333 554.667h256v256c0 23.552 19.115 42.667 42.667 42.667s42.667-19.115 42.667-42.667v-256h256c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-256v-256c0-23.552-19.115-42.667-42.667-42.667s-42.667 19.115-42.667 42.667v256h-256c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                    <div>
                      <svg viewBox="0 0 1024 1024" class="faq11-icon18">
                        <path
                          d="M213.333 554.667h597.333c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-597.333c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
                        ></path>
                      </svg>
                    </div>
                  </div>
                </div>
                <div class="faq11-container15">
                  <span class="faq11-text7 thq-body-small">
                    Of course! May it be new pictures, price updates or service
                    updates we’ve got you covered.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
