.faq11-faq8 {
  width: 80%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: #D8D5DB;
}
.faq11-text {
  color: rgb(0, 0, 0);
  width: 439px;
  font-size: 44px;
  text-align: center;
  border-radius: var(--dl-radius-radius-radius24);
  margin-bottom: var(--dl-space-space-fourunits);
  background-color: rgb(45, 49, 66);
  border-top-left-radius: 45px;
  border-bottom-right-radius: 45px;
}
.faq11-text1 {
  color: #adacb5;
}
.faq11-text2 {
  color: #b0d7ff;
}
.faq11-max-width {
  gap: 48px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.faq11-section-title {
  gap: 32px;
  flex: 1;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq11-list {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.faq11-faq1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq1-question {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon {
  width: 24px;
  height: 24px;
}
.faq11-icon02 {
  width: 24px;
  height: 24px;
}
.faq11-container03 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text3 {
  color: var(--dl-color-gray-black);
  font-size: 23px;
}
.faq11-faq2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger1 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon04 {
  width: 24px;
  height: 24px;
}
.faq11-icon06 {
  width: 24px;
  height: 24px;
}
.faq11-container06 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text4 {
  font-size: 23px;
}
.faq11-faq3 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger2 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question1 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon08 {
  width: 24px;
  height: 24px;
}
.faq11-icon10 {
  width: 24px;
  height: 24px;
}
.faq11-container09 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text5 {
  font-size: 23px;
}
.faq11-faq4 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger3 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq2-question2 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container3 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon12 {
  width: 24px;
  height: 24px;
}
.faq11-icon14 {
  width: 24px;
  height: 24px;
}
.faq11-container12 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text6 {
  font-size: 23px;
}
.faq11-faq5 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-theme-neutral-dark);
  border-width: 1px;
  flex-direction: column;
}
.faq11-trigger4 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-faq1-question1 {
  font-size: 32px;
  font-style: normal;
  text-align: center;
  font-weight: 600;
}
.faq11-icons-container4 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.faq11-icon16 {
  width: 24px;
  height: 24px;
}
.faq11-icon18 {
  width: 24px;
  height: 24px;
}
.faq11-container15 {
  display: flex;
  padding: var(--dl-space-space-unit);
  align-self: stretch;
  align-items: flex-start;
  animation-name: fadeIn;
  flex-direction: row;
  animation-delay: 0s;
  justify-content: space-between;
  animation-duration: 300ms;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
.faq11-text7 {
  font-size: 23px;
}

@media(max-width: 991px) {
  .faq11-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .faq11-max-width {
    gap: 24px;
  }
  .faq11-root-class-name {
    height: auto;
  }
}
